@breakpoints {
  .ap-r-m-auto {
    margin: auto;
  }

  .ap-r-m-0 {
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    margin: var(--margin-top-override, var(--margin-top))
      var(--margin-right-override, var(--margin-right))
      var(--margin-bottom-override, var(--margin-bottom))
      var(--margin-left-override, var(--margin-left));
  }

  .ap-r-m-1 {
    --margin-top: var(--space-1);
    --margin-right: var(--space-1);
    --margin-bottom: var(--space-1);
    --margin-left: var(--space-1);
    margin: var(--margin-top-override, var(--margin-top))
      var(--margin-right-override, var(--margin-right))
      var(--margin-bottom-override, var(--margin-bottom))
      var(--margin-left-override, var(--margin-left));
  }

  .ap-r-m-2 {
    --margin-top: var(--space-2);
    --margin-right: var(--space-2);
    --margin-bottom: var(--space-2);
    --margin-left: var(--space-2);
    margin: var(--margin-top-override, var(--margin-top))
      var(--margin-right-override, var(--margin-right))
      var(--margin-bottom-override, var(--margin-bottom))
      var(--margin-left-override, var(--margin-left));
  }

  .ap-r-m-3 {
    --margin-top: var(--space-3);
    --margin-right: var(--space-3);
    --margin-bottom: var(--space-3);
    --margin-left: var(--space-3);
    margin: var(--margin-top-override, var(--margin-top))
      var(--margin-right-override, var(--margin-right))
      var(--margin-bottom-override, var(--margin-bottom))
      var(--margin-left-override, var(--margin-left));
  }

  .ap-r-m-4 {
    --margin-top: var(--space-4);
    --margin-right: var(--space-4);
    --margin-bottom: var(--space-4);
    --margin-left: var(--space-4);
    margin: var(--margin-top-override, var(--margin-top))
      var(--margin-right-override, var(--margin-right))
      var(--margin-bottom-override, var(--margin-bottom))
      var(--margin-left-override, var(--margin-left));
  }

  .ap-r-m-5 {
    --margin-top: var(--space-5);
    --margin-right: var(--space-5);
    --margin-bottom: var(--space-5);
    --margin-left: var(--space-5);
    margin: var(--margin-top-override, var(--margin-top))
      var(--margin-right-override, var(--margin-right))
      var(--margin-bottom-override, var(--margin-bottom))
      var(--margin-left-override, var(--margin-left));
  }

  .ap-r-m-6 {
    --margin-top: var(--space-6);
    --margin-right: var(--space-6);
    --margin-bottom: var(--space-6);
    --margin-left: var(--space-6);
    margin: var(--margin-top-override, var(--margin-top))
      var(--margin-right-override, var(--margin-right))
      var(--margin-bottom-override, var(--margin-bottom))
      var(--margin-left-override, var(--margin-left));
  }

  .ap-r-m-7 {
    --margin-top: var(--space-7);
    --margin-right: var(--space-7);
    --margin-bottom: var(--space-7);
    --margin-left: var(--space-7);
    margin: var(--margin-top-override, var(--margin-top))
      var(--margin-right-override, var(--margin-right))
      var(--margin-bottom-override, var(--margin-bottom))
      var(--margin-left-override, var(--margin-left));
  }

  .ap-r-m-8 {
    --margin-top: var(--space-8);
    --margin-right: var(--space-8);
    --margin-bottom: var(--space-8);
    --margin-left: var(--space-8);
    margin: var(--margin-top-override, var(--margin-top))
      var(--margin-right-override, var(--margin-right))
      var(--margin-bottom-override, var(--margin-bottom))
      var(--margin-left-override, var(--margin-left));
  }

  .ap-r-m-9 {
    --margin-top: var(--space-9);
    --margin-right: var(--space-9);
    --margin-bottom: var(--space-9);
    --margin-left: var(--space-9);
    margin: var(--margin-top-override, var(--margin-top))
      var(--margin-right-override, var(--margin-right))
      var(--margin-bottom-override, var(--margin-bottom))
      var(--margin-left-override, var(--margin-left));
  }

  .ap-r-m-10 {
    --margin-top: var(--space-10);
    --margin-right: var(--space-10);
    --margin-bottom: var(--space-10);
    --margin-left: var(--space-10);
    margin: var(--margin-top-override, var(--margin-top))
      var(--margin-right-override, var(--margin-right))
      var(--margin-bottom-override, var(--margin-bottom))
      var(--margin-left-override, var(--margin-left));
  }

  .ap-r-m-11 {
    --margin-top: var(--space-11);
    --margin-right: var(--space-11);
    --margin-bottom: var(--space-11);
    --margin-left: var(--space-11);
    margin: var(--margin-top-override, var(--margin-top))
      var(--margin-right-override, var(--margin-right))
      var(--margin-bottom-override, var(--margin-bottom))
      var(--margin-left-override, var(--margin-left));
  }

  .ap-r-m-12 {
    --margin-top: var(--space-12);
    --margin-right: var(--space-12);
    --margin-bottom: var(--space-12);
    --margin-left: var(--space-12);
    margin: var(--margin-top-override, var(--margin-top))
      var(--margin-right-override, var(--margin-right))
      var(--margin-bottom-override, var(--margin-bottom))
      var(--margin-left-override, var(--margin-left));
  }

  .-ap-r-m-1 {
    --margin-top: calc(-1 * var(--space-1));
    --margin-right: calc(-1 * var(--space-1));
    --margin-bottom: calc(-1 * var(--space-1));
    --margin-left: calc(-1 * var(--space-1));
    margin: var(--margin-top-override, var(--margin-top))
      var(--margin-right-override, var(--margin-right))
      var(--margin-bottom-override, var(--margin-bottom))
      var(--margin-left-override, var(--margin-left));
  }

  .-ap-r-m-2 {
    --margin-top: calc(-1 * var(--space-2));
    --margin-right: calc(-1 * var(--space-2));
    --margin-bottom: calc(-1 * var(--space-2));
    --margin-left: calc(-1 * var(--space-2));
    margin: var(--margin-top-override, var(--margin-top))
      var(--margin-right-override, var(--margin-right))
      var(--margin-bottom-override, var(--margin-bottom))
      var(--margin-left-override, var(--margin-left));
  }

  .-ap-r-m-3 {
    --margin-top: calc(-1 * var(--space-3));
    --margin-right: calc(-1 * var(--space-3));
    --margin-bottom: calc(-1 * var(--space-3));
    --margin-left: calc(-1 * var(--space-3));
    margin: var(--margin-top-override, var(--margin-top))
      var(--margin-right-override, var(--margin-right))
      var(--margin-bottom-override, var(--margin-bottom))
      var(--margin-left-override, var(--margin-left));
  }

  .-ap-r-m-4 {
    --margin-top: calc(-1 * var(--space-4));
    --margin-right: calc(-1 * var(--space-4));
    --margin-bottom: calc(-1 * var(--space-4));
    --margin-left: calc(-1 * var(--space-4));
    margin: var(--margin-top-override, var(--margin-top))
      var(--margin-right-override, var(--margin-right))
      var(--margin-bottom-override, var(--margin-bottom))
      var(--margin-left-override, var(--margin-left));
  }

  .-ap-r-m-5 {
    --margin-top: calc(-1 * var(--space-5));
    --margin-right: calc(-1 * var(--space-5));
    --margin-bottom: calc(-1 * var(--space-5));
    --margin-left: calc(-1 * var(--space-5));
    margin: var(--margin-top-override, var(--margin-top))
      var(--margin-right-override, var(--margin-right))
      var(--margin-bottom-override, var(--margin-bottom))
      var(--margin-left-override, var(--margin-left));
  }

  .-ap-r-m-6 {
    --margin-top: calc(-1 * var(--space-6));
    --margin-right: calc(-1 * var(--space-6));
    --margin-bottom: calc(-1 * var(--space-6));
    --margin-left: calc(-1 * var(--space-6));
    margin: var(--margin-top-override, var(--margin-top))
      var(--margin-right-override, var(--margin-right))
      var(--margin-bottom-override, var(--margin-bottom))
      var(--margin-left-override, var(--margin-left));
  }

  .-ap-r-m-7 {
    --margin-top: calc(-1 * var(--space-7));
    --margin-right: calc(-1 * var(--space-7));
    --margin-bottom: calc(-1 * var(--space-7));
    --margin-left: calc(-1 * var(--space-7));
    margin: var(--margin-top-override, var(--margin-top))
      var(--margin-right-override, var(--margin-right))
      var(--margin-bottom-override, var(--margin-bottom))
      var(--margin-left-override, var(--margin-left));
  }

  .-ap-r-m-8 {
    --margin-top: calc(-1 * var(--space-8));
    --margin-right: calc(-1 * var(--space-8));
    --margin-bottom: calc(-1 * var(--space-8));
    --margin-left: calc(-1 * var(--space-8));
    margin: var(--margin-top-override, var(--margin-top))
      var(--margin-right-override, var(--margin-right))
      var(--margin-bottom-override, var(--margin-bottom))
      var(--margin-left-override, var(--margin-left));
  }

  .-ap-r-m-9 {
    --margin-top: calc(-1 * var(--space-9));
    --margin-right: calc(-1 * var(--space-9));
    --margin-bottom: calc(-1 * var(--space-9));
    --margin-left: calc(-1 * var(--space-9));
    margin: var(--margin-top-override, var(--margin-top))
      var(--margin-right-override, var(--margin-right))
      var(--margin-bottom-override, var(--margin-bottom))
      var(--margin-left-override, var(--margin-left));
  }

  .-ap-r-m-10 {
    --margin-top: calc(-1 * var(--space-10));
    --margin-right: calc(-1 * var(--space-10));
    --margin-bottom: calc(-1 * var(--space-10));
    --margin-left: calc(-1 * var(--space-10));
    margin: var(--margin-top-override, var(--margin-top))
      var(--margin-right-override, var(--margin-right))
      var(--margin-bottom-override, var(--margin-bottom))
      var(--margin-left-override, var(--margin-left));
  }

  .-ap-r-m-11 {
    --margin-top: calc(-1 * var(--space-11));
    --margin-right: calc(-1 * var(--space-11));
    --margin-bottom: calc(-1 * var(--space-11));
    --margin-left: calc(-1 * var(--space-11));
    margin: var(--margin-top-override, var(--margin-top))
      var(--margin-right-override, var(--margin-right))
      var(--margin-bottom-override, var(--margin-bottom))
      var(--margin-left-override, var(--margin-left));
  }

  .-ap-r-m-12 {
    --margin-top: calc(-1 * var(--space-12));
    --margin-right: calc(-1 * var(--space-12));
    --margin-bottom: calc(-1 * var(--space-12));
    --margin-left: calc(-1 * var(--space-12));
    margin: var(--margin-top-override, var(--margin-top))
      var(--margin-right-override, var(--margin-right))
      var(--margin-bottom-override, var(--margin-bottom))
      var(--margin-left-override, var(--margin-left));
  }

  .ap-r-mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .ap-r-mx-0 {
    --margin-left: 0px;
    --margin-right: 0px;
    margin-left: var(--margin-left-override, var(--margin-left));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .ap-r-mx-1 {
    --margin-left: var(--space-1);
    --margin-right: var(--space-1);
    margin-left: var(--margin-left-override, var(--margin-left));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .ap-r-mx-2 {
    --margin-left: var(--space-2);
    --margin-right: var(--space-2);
    margin-left: var(--margin-left-override, var(--margin-left));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .ap-r-mx-3 {
    --margin-left: var(--space-3);
    --margin-right: var(--space-3);
    margin-left: var(--margin-left-override, var(--margin-left));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .ap-r-mx-4 {
    --margin-left: var(--space-4);
    --margin-right: var(--space-4);
    margin-left: var(--margin-left-override, var(--margin-left));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .ap-r-mx-5 {
    --margin-left: var(--space-5);
    --margin-right: var(--space-5);
    margin-left: var(--margin-left-override, var(--margin-left));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .ap-r-mx-6 {
    --margin-left: var(--space-6);
    --margin-right: var(--space-6);
    margin-left: var(--margin-left-override, var(--margin-left));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .ap-r-mx-7 {
    --margin-left: var(--space-7);
    --margin-right: var(--space-7);
    margin-left: var(--margin-left-override, var(--margin-left));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .ap-r-mx-8 {
    --margin-left: var(--space-8);
    --margin-right: var(--space-8);
    margin-left: var(--margin-left-override, var(--margin-left));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .ap-r-mx-9 {
    --margin-left: var(--space-9);
    --margin-right: var(--space-9);
    margin-left: var(--margin-left-override, var(--margin-left));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .ap-r-mx-10 {
    --margin-left: var(--space-10);
    --margin-right: var(--space-10);
    margin-left: var(--margin-left-override, var(--margin-left));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .ap-r-mx-11 {
    --margin-left: var(--space-11);
    --margin-right: var(--space-11);
    margin-left: var(--margin-left-override, var(--margin-left));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .ap-r-mx-12 {
    --margin-left: var(--space-12);
    --margin-right: var(--space-12);
    margin-left: var(--margin-left-override, var(--margin-left));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .-ap-r-mx-1 {
    --margin-left: calc(-1 * var(--space-1));
    --margin-right: calc(-1 * var(--space-1));
    margin-left: var(--margin-left-override, var(--margin-left));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .-ap-r-mx-2 {
    --margin-left: calc(-1 * var(--space-2));
    --margin-right: calc(-1 * var(--space-2));
    margin-left: var(--margin-left-override, var(--margin-left));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .-ap-r-mx-3 {
    --margin-left: calc(-1 * var(--space-3));
    --margin-right: calc(-1 * var(--space-3));
    margin-left: var(--margin-left-override, var(--margin-left));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .-ap-r-mx-4 {
    --margin-left: calc(-1 * var(--space-4));
    --margin-right: calc(-1 * var(--space-4));
    margin-left: var(--margin-left-override, var(--margin-left));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .-ap-r-mx-5 {
    --margin-left: calc(-1 * var(--space-5));
    --margin-right: calc(-1 * var(--space-5));
    margin-left: var(--margin-left-override, var(--margin-left));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .-ap-r-mx-6 {
    --margin-left: calc(-1 * var(--space-6));
    --margin-right: calc(-1 * var(--space-6));
    margin-left: var(--margin-left-override, var(--margin-left));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .-ap-r-mx-7 {
    --margin-left: calc(-1 * var(--space-7));
    --margin-right: calc(-1 * var(--space-7));
    margin-left: var(--margin-left-override, var(--margin-left));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .-ap-r-mx-8 {
    --margin-left: calc(-1 * var(--space-8));
    --margin-right: calc(-1 * var(--space-8));
    margin-left: var(--margin-left-override, var(--margin-left));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .-ap-r-mx-9 {
    --margin-left: calc(-1 * var(--space-9));
    --margin-right: calc(-1 * var(--space-9));
    margin-left: var(--margin-left-override, var(--margin-left));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .-ap-r-mx-10 {
    --margin-left: calc(-1 * var(--space-10));
    --margin-right: calc(-1 * var(--space-10));
    margin-left: var(--margin-left-override, var(--margin-left));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .-ap-r-mx-11 {
    --margin-left: calc(-1 * var(--space-11));
    --margin-right: calc(-1 * var(--space-11));
    margin-left: var(--margin-left-override, var(--margin-left));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .-ap-r-mx-12 {
    --margin-left: calc(-1 * var(--space-12));
    --margin-right: calc(-1 * var(--space-12));
    margin-left: var(--margin-left-override, var(--margin-left));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .ap-r-my-auto {
    margin-top: auto;
    margin-bottom: auto;
  }

  .ap-r-my-0 {
    --margin-top: 0px;
    --margin-bottom: 0px;
    margin-top: var(--margin-top-override, var(--margin-top));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .ap-r-my-1 {
    --margin-top: var(--space-1);
    --margin-bottom: var(--space-1);
    margin-top: var(--margin-top-override, var(--margin-top));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .ap-r-my-2 {
    --margin-top: var(--space-2);
    --margin-bottom: var(--space-2);
    margin-top: var(--margin-top-override, var(--margin-top));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .ap-r-my-3 {
    --margin-top: var(--space-3);
    --margin-bottom: var(--space-3);
    margin-top: var(--margin-top-override, var(--margin-top));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .ap-r-my-4 {
    --margin-top: var(--space-4);
    --margin-bottom: var(--space-4);
    margin-top: var(--margin-top-override, var(--margin-top));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .ap-r-my-5 {
    --margin-top: var(--space-5);
    --margin-bottom: var(--space-5);
    margin-top: var(--margin-top-override, var(--margin-top));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .ap-r-my-6 {
    --margin-top: var(--space-6);
    --margin-bottom: var(--space-6);
    margin-top: var(--margin-top-override, var(--margin-top));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .ap-r-my-7 {
    --margin-top: var(--space-7);
    --margin-bottom: var(--space-7);
    margin-top: var(--margin-top-override, var(--margin-top));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .ap-r-my-8 {
    --margin-top: var(--space-8);
    --margin-bottom: var(--space-8);
    margin-top: var(--margin-top-override, var(--margin-top));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .ap-r-my-9 {
    --margin-top: var(--space-9);
    --margin-bottom: var(--space-9);
    margin-top: var(--margin-top-override, var(--margin-top));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .ap-r-my-10 {
    --margin-top: var(--space-10);
    --margin-bottom: var(--space-10);
    margin-top: var(--margin-top-override, var(--margin-top));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .ap-r-my-11 {
    --margin-top: var(--space-11);
    --margin-bottom: var(--space-11);
    margin-top: var(--margin-top-override, var(--margin-top));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .ap-r-my-12 {
    --margin-top: var(--space-12);
    --margin-bottom: var(--space-12);
    margin-top: var(--margin-top-override, var(--margin-top));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .-ap-r-my-1 {
    --margin-top: calc(-1 * var(--space-1));
    --margin-bottom: calc(-1 * var(--space-1));
    margin-top: var(--margin-top-override, var(--margin-top));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .-ap-r-my-2 {
    --margin-top: calc(-1 * var(--space-2));
    --margin-bottom: calc(-1 * var(--space-2));
    margin-top: var(--margin-top-override, var(--margin-top));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .-ap-r-my-3 {
    --margin-top: calc(-1 * var(--space-3));
    --margin-bottom: calc(-1 * var(--space-3));
    margin-top: var(--margin-top-override, var(--margin-top));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .-ap-r-my-4 {
    --margin-top: calc(-1 * var(--space-4));
    --margin-bottom: calc(-1 * var(--space-4));
    margin-top: var(--margin-top-override, var(--margin-top));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .-ap-r-my-5 {
    --margin-top: calc(-1 * var(--space-5));
    --margin-bottom: calc(-1 * var(--space-5));
    margin-top: var(--margin-top-override, var(--margin-top));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .-ap-r-my-6 {
    --margin-top: calc(-1 * var(--space-6));
    --margin-bottom: calc(-1 * var(--space-6));
    margin-top: var(--margin-top-override, var(--margin-top));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .-ap-r-my-7 {
    --margin-top: calc(-1 * var(--space-7));
    --margin-bottom: calc(-1 * var(--space-7));
    margin-top: var(--margin-top-override, var(--margin-top));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .-ap-r-my-8 {
    --margin-top: calc(-1 * var(--space-8));
    --margin-bottom: calc(-1 * var(--space-8));
    margin-top: var(--margin-top-override, var(--margin-top));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .-ap-r-my-9 {
    --margin-top: calc(-1 * var(--space-9));
    --margin-bottom: calc(-1 * var(--space-9));
    margin-top: var(--margin-top-override, var(--margin-top));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .-ap-r-my-10 {
    --margin-top: calc(-1 * var(--space-10));
    --margin-bottom: calc(-1 * var(--space-10));
    margin-top: var(--margin-top-override, var(--margin-top));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .-ap-r-my-11 {
    --margin-top: calc(-1 * var(--space-11));
    --margin-bottom: calc(-1 * var(--space-11));
    margin-top: var(--margin-top-override, var(--margin-top));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .-ap-r-my-12 {
    --margin-top: calc(-1 * var(--space-12));
    --margin-bottom: calc(-1 * var(--space-12));
    margin-top: var(--margin-top-override, var(--margin-top));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .ap-r-mt-auto {
    margin-top: auto;
  }

  .ap-r-mt-0 {
    --margin-top: 0px;
    margin-top: var(--margin-top-override, var(--margin-top));
  }

  .ap-r-mt-1 {
    --margin-top: var(--space-1);
    margin-top: var(--margin-top-override, var(--margin-top));
  }

  .ap-r-mt-2 {
    --margin-top: var(--space-2);
    margin-top: var(--margin-top-override, var(--margin-top));
  }

  .ap-r-mt-3 {
    --margin-top: var(--space-3);
    margin-top: var(--margin-top-override, var(--margin-top));
  }

  .ap-r-mt-4 {
    --margin-top: var(--space-4);
    margin-top: var(--margin-top-override, var(--margin-top));
  }

  .ap-r-mt-5 {
    --margin-top: var(--space-5);
    margin-top: var(--margin-top-override, var(--margin-top));
  }

  .ap-r-mt-6 {
    --margin-top: var(--space-6);
    margin-top: var(--margin-top-override, var(--margin-top));
  }

  .ap-r-mt-7 {
    --margin-top: var(--space-7);
    margin-top: var(--margin-top-override, var(--margin-top));
  }

  .ap-r-mt-8 {
    --margin-top: var(--space-8);
    margin-top: var(--margin-top-override, var(--margin-top));
  }

  .ap-r-mt-9 {
    --margin-top: var(--space-9);
    margin-top: var(--margin-top-override, var(--margin-top));
  }

  .ap-r-mt-10 {
    --margin-top: var(--space-10);
    margin-top: var(--margin-top-override, var(--margin-top));
  }

  .ap-r-mt-11 {
    --margin-top: var(--space-11);
    margin-top: var(--margin-top-override, var(--margin-top));
  }

  .ap-r-mt-12 {
    --margin-top: var(--space-12);
    margin-top: var(--margin-top-override, var(--margin-top));
  }

  .-ap-r-mt-1 {
    --margin-top: calc(-1 * var(--space-1));
    margin-top: var(--margin-top-override, var(--margin-top));
  }

  .-ap-r-mt-2 {
    --margin-top: calc(-1 * var(--space-2));
    margin-top: var(--margin-top-override, var(--margin-top));
  }

  .-ap-r-mt-3 {
    --margin-top: calc(-1 * var(--space-3));
    margin-top: var(--margin-top-override, var(--margin-top));
  }

  .-ap-r-mt-4 {
    --margin-top: calc(-1 * var(--space-4));
    margin-top: var(--margin-top-override, var(--margin-top));
  }

  .-ap-r-mt-5 {
    --margin-top: calc(-1 * var(--space-5));
    margin-top: var(--margin-top-override, var(--margin-top));
  }

  .-ap-r-mt-6 {
    --margin-top: calc(-1 * var(--space-6));
    margin-top: var(--margin-top-override, var(--margin-top));
  }

  .-ap-r-mt-7 {
    --margin-top: calc(-1 * var(--space-7));
    margin-top: var(--margin-top-override, var(--margin-top));
  }

  .-ap-r-mt-8 {
    --margin-top: calc(-1 * var(--space-8));
    margin-top: var(--margin-top-override, var(--margin-top));
  }

  .-ap-r-mt-9 {
    --margin-top: calc(-1 * var(--space-9));
    margin-top: var(--margin-top-override, var(--margin-top));
  }

  .-ap-r-mt-10 {
    --margin-top: calc(-1 * var(--space-10));
    margin-top: var(--margin-top-override, var(--margin-top));
  }

  .-ap-r-mt-11 {
    --margin-top: calc(-1 * var(--space-11));
    margin-top: var(--margin-top-override, var(--margin-top));
  }

  .-ap-r-mt-12 {
    --margin-top: calc(-1 * var(--space-12));
    margin-top: var(--margin-top-override, var(--margin-top));
  }

  .ap-r-mr-auto {
    margin-right: auto;
  }

  .ap-r-mr-0 {
    --margin-right: 0px;
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .ap-r-mr-1 {
    --margin-right: var(--space-1);
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .ap-r-mr-2 {
    --margin-right: var(--space-2);
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .ap-r-mr-3 {
    --margin-right: var(--space-3);
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .ap-r-mr-4 {
    --margin-right: var(--space-4);
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .ap-r-mr-5 {
    --margin-right: var(--space-5);
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .ap-r-mr-6 {
    --margin-right: var(--space-6);
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .ap-r-mr-7 {
    --margin-right: var(--space-7);
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .ap-r-mr-8 {
    --margin-right: var(--space-8);
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .ap-r-mr-9 {
    --margin-right: var(--space-9);
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .ap-r-mr-10 {
    --margin-right: var(--space-10);
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .ap-r-mr-11 {
    --margin-right: var(--space-11);
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .ap-r-mr-12 {
    --margin-right: var(--space-12);
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .-ap-r-mr-1 {
    --margin-right: calc(-1 * var(--space-1));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .-ap-r-mr-2 {
    --margin-right: calc(-1 * var(--space-2));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .-ap-r-mr-3 {
    --margin-right: calc(-1 * var(--space-3));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .-ap-r-mr-4 {
    --margin-right: calc(-1 * var(--space-4));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .-ap-r-mr-5 {
    --margin-right: calc(-1 * var(--space-5));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .-ap-r-mr-6 {
    --margin-right: calc(-1 * var(--space-6));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .-ap-r-mr-7 {
    --margin-right: calc(-1 * var(--space-7));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .-ap-r-mr-8 {
    --margin-right: calc(-1 * var(--space-8));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .-ap-r-mr-9 {
    --margin-right: calc(-1 * var(--space-9));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .-ap-r-mr-10 {
    --margin-right: calc(-1 * var(--space-10));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .-ap-r-mr-11 {
    --margin-right: calc(-1 * var(--space-11));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .-ap-r-mr-12 {
    --margin-right: calc(-1 * var(--space-12));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  .ap-r-mb-auto {
    margin-bottom: auto;
  }

  .ap-r-mb-0 {
    --margin-bottom: 0px;
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .ap-r-mb-1 {
    --margin-bottom: var(--space-1);
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .ap-r-mb-2 {
    --margin-bottom: var(--space-2);
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .ap-r-mb-3 {
    --margin-bottom: var(--space-3);
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .ap-r-mb-4 {
    --margin-bottom: var(--space-4);
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .ap-r-mb-5 {
    --margin-bottom: var(--space-5);
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .ap-r-mb-6 {
    --margin-bottom: var(--space-6);
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .ap-r-mb-7 {
    --margin-bottom: var(--space-7);
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .ap-r-mb-8 {
    --margin-bottom: var(--space-8);
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .ap-r-mb-9 {
    --margin-bottom: var(--space-9);
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .ap-r-mb-10 {
    --margin-bottom: var(--space-10);
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .ap-r-mb-11 {
    --margin-bottom: var(--space-11);
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .ap-r-mb-12 {
    --margin-bottom: var(--space-12);
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .-ap-r-mb-1 {
    --margin-bottom: calc(-1 * var(--space-1));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .-ap-r-mb-2 {
    --margin-bottom: calc(-1 * var(--space-2));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .-ap-r-mb-3 {
    --margin-bottom: calc(-1 * var(--space-3));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .-ap-r-mb-4 {
    --margin-bottom: calc(-1 * var(--space-4));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .-ap-r-mb-5 {
    --margin-bottom: calc(-1 * var(--space-5));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .-ap-r-mb-6 {
    --margin-bottom: calc(-1 * var(--space-6));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .-ap-r-mb-7 {
    --margin-bottom: calc(-1 * var(--space-7));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .-ap-r-mb-8 {
    --margin-bottom: calc(-1 * var(--space-8));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .-ap-r-mb-9 {
    --margin-bottom: calc(-1 * var(--space-9));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .-ap-r-mb-10 {
    --margin-bottom: calc(-1 * var(--space-10));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .-ap-r-mb-11 {
    --margin-bottom: calc(-1 * var(--space-11));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .-ap-r-mb-12 {
    --margin-bottom: calc(-1 * var(--space-12));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  .ap-r-ml-auto {
    margin-left: auto;
  }

  .ap-r-ml-0 {
    --margin-left: 0px;
    margin-left: var(--margin-left-override, var(--margin-left));
  }

  .ap-r-ml-1 {
    --margin-left: var(--space-1);
    margin-left: var(--margin-left-override, var(--margin-left));
  }

  .ap-r-ml-2 {
    --margin-left: var(--space-2);
    margin-left: var(--margin-left-override, var(--margin-left));
  }

  .ap-r-ml-3 {
    --margin-left: var(--space-3);
    margin-left: var(--margin-left-override, var(--margin-left));
  }

  .ap-r-ml-4 {
    --margin-left: var(--space-4);
    margin-left: var(--margin-left-override, var(--margin-left));
  }

  .ap-r-ml-5 {
    --margin-left: var(--space-5);
    margin-left: var(--margin-left-override, var(--margin-left));
  }

  .ap-r-ml-6 {
    --margin-left: var(--space-6);
    margin-left: var(--margin-left-override, var(--margin-left));
  }

  .ap-r-ml-7 {
    --margin-left: var(--space-7);
    margin-left: var(--margin-left-override, var(--margin-left));
  }

  .ap-r-ml-8 {
    --margin-left: var(--space-8);
    margin-left: var(--margin-left-override, var(--margin-left));
  }

  .ap-r-ml-9 {
    --margin-left: var(--space-9);
    margin-left: var(--margin-left-override, var(--margin-left));
  }

  .ap-r-ml-10 {
    --margin-left: var(--space-10);
    margin-left: var(--margin-left-override, var(--margin-left));
  }

  .ap-r-ml-11 {
    --margin-left: var(--space-11);
    margin-left: var(--margin-left-override, var(--margin-left));
  }

  .ap-r-ml-12 {
    --margin-left: var(--space-12);
    margin-left: var(--margin-left-override, var(--margin-left));
  }

  .-ap-r-ml-1 {
    --margin-left: calc(-1 * var(--space-1));
    margin-left: var(--margin-left-override, var(--margin-left));
  }

  .-ap-r-ml-2 {
    --margin-left: calc(-1 * var(--space-2));
    margin-left: var(--margin-left-override, var(--margin-left));
  }

  .-ap-r-ml-3 {
    --margin-left: calc(-1 * var(--space-3));
    margin-left: var(--margin-left-override, var(--margin-left));
  }

  .-ap-r-ml-4 {
    --margin-left: calc(-1 * var(--space-4));
    margin-left: var(--margin-left-override, var(--margin-left));
  }

  .-ap-r-ml-5 {
    --margin-left: calc(-1 * var(--space-5));
    margin-left: var(--margin-left-override, var(--margin-left));
  }

  .-ap-r-ml-6 {
    --margin-left: calc(-1 * var(--space-6));
    margin-left: var(--margin-left-override, var(--margin-left));
  }

  .-ap-r-ml-7 {
    --margin-left: calc(-1 * var(--space-7));
    margin-left: var(--margin-left-override, var(--margin-left));
  }

  .-ap-r-ml-8 {
    --margin-left: calc(-1 * var(--space-8));
    margin-left: var(--margin-left-override, var(--margin-left));
  }

  .-ap-r-ml-9 {
    --margin-left: calc(-1 * var(--space-9));
    margin-left: var(--margin-left-override, var(--margin-left));
  }

  .-ap-r-ml-10 {
    --margin-left: calc(-1 * var(--space-10));
    margin-left: var(--margin-left-override, var(--margin-left));
  }

  .-ap-r-ml-11 {
    --margin-left: calc(-1 * var(--space-11));
    margin-left: var(--margin-left-override, var(--margin-left));
  }

  .-ap-r-ml-12 {
    --margin-left: calc(-1 * var(--space-12));
    margin-left: var(--margin-left-override, var(--margin-left));
  }
}
